* {
    margin: 0;
    padding: 0;
}

/* Option 1 ----------------------------------------------------------------*/
/*body {*/
/*    font-family: Arial, Helvetica, sans-serif;*/
/*    background: #333;*/
/*    color: #fff;*/
/*    line-height: 1.6;*/
/*    height: 100vh;*/
/*    overflow: hidden;*/
/*}*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #fff;
    line-height: 1.6;
    height: 100vh;
}

/* Option 1 ----------------------------------------------------------------*/
/*.container {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    !* CSS Smooth Scroll *!*/
/*    !* Not sure why it needs to set hidden in the body and allow in container. *!*/
/*    overflow-y: scroll;*/
/*    !* https://www.w3schools.com/cssref/pr_scroll-behavior.asp*/
/*       It's not cross browsers compatible *!*/
/*    scroll-behavior: smooth;*/
/*    !* https://css-tricks.com/almanac/properties/s/scroll-snap-type/*/
/*        mandatory is a strictness value which tells the browser to always go to a snap position when there isn't scrolling happening.*/
/*        proximity is a strictness value which tells the browser to go to a snap position if a scrolling action gets pretty close to a snap position. If it's not pretty close, then the browser shouldn't snap and scrolling will behave normally.*/
/*     *!*/
/*    scroll-snap-type: y mandatory;*/
/*}*/

.container {
    width: 100%;
    height: 100%;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: rgba(0,0,0,0.7);
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
}

.navbar ul li a:hover {
    color: skyblue;
}

/* Option 1 ----------------------------------------------------------------*/
/*section {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    text-align: center;*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*    !* https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-snap-align *!*/
/*    scroll-snap-align: center;*/
/*}*/

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}

section h1 {
    font-size: 4rem;
}

section p {
    font-size: 1.5rem;
}

/* Section Images */
section#home {
    background: url('https://source.unsplash.com/bZZp1PmHI0E/1600x900') no-repeat center center/cover;;
}

section#about {
    background: url('https://source.unsplash.com/VRxo0yY-gyM/1600x900') no-repeat center center/cover;;
}

section#service {
    background: url('https://source.unsplash.com/K2tdx2mFDHc/1600x900') no-repeat center center/cover;;
}

section#contact {
    background: url('https://source.unsplash.com/2aAHlfDOhJM/1600x900') no-repeat center center/cover;;
}

